html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Fraunces', sans-serif;
}


img {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

// .hero__none {
//     display: none;
// }

// .collection__none {
//     display: none;
// }

.choose__none {
    display: none;
}

.works__none {
    display: none;
}

.footer__none {
    display: none;
}