.about {
    padding-bottom: 168px;

    &__container {
        background-image: url(../images/blackcofe.png);
        background-size: cover;
        padding: 137px 85px;
    }

    &__heading {
        margin: 0;
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
    }

    &__desc {
        width: 445px;
        margin: 0;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
    }
}

@media only screen and (max-width: 768px) {

    .about {
        padding-bottom: 144px;

        &__container {
            padding: 104px 58px;
            background-image: url(../images/abouttablet.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__heading {
            margin-bottom: 24px;
            font-size: 48px;
            line-height: 48px;
        }

        &__desc {
            max-width: 398px;
            width: 100%;
            margin-bottom: 40px;
            font-size: 15px;
            line-height: 25px;
        }

    }

}

@media only screen and (max-width:564px) {

    .about {
        padding-bottom: 144px;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 100px 0;
            background-image: url(../images/aboutmobile.png);
            background-size: cover;
            background-position: center;
            border-radius: 5px;
        }

        &__heading {
            max-width: 400px;
            text-align: center;
        }

        &__desc {
            max-width: 450px;
            text-align: center;
        }

    }

}

@media only screen and (max-width:375px) {

    .about {
        padding-bottom: 120px;

        &__container {
            padding-top: 111pxz;
            padding-bottom: 87px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 100px 0;
            background-image: url(../../images/aboutmobile.png);
            background-size: cover;
            background-position: center;
            border-radius: 5px;
        }

        &__heading {
            max-width: 279px;
            font-size: 28px;
            line-height: 28px;
            text-align: center;
        }

        &__desc {
            max-width: 279px;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
        }

    }

}