.collection {
    padding-top: 100px;
    padding-bottom: 200px;

    &__container {
        max-width: 1111px;
        padding-top: 120px;
        background-image: url(../images/our.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__img {
        margin-bottom: 71px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__desc {
        width: 255px;
        margin: 0;
        margin-bottom: 24px;
        font-family: 'Fraunces 9pt';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }


    &__desc-small {
        width: 255px;
        margin: 0;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }
}

@media only screen and (max-width:1058px) {

    .collection {

        padding-bottom: 114px;

        &__list {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            display: flex;
        }

        // &__desc {
        //     font-size: 24px;
        //     line-height: 32px;
        // }

        // &__desc-small {
        //     font-size: 15px;
        //     line-height: 25px;

        // }

    }

}

@media only screen and (max-width:768px) {

    .collection {
        padding-bottom: 114px;

        &__list {
            flex-direction: column;
        }

        &__item {
            display: flex;
        }

        &__desc {
            font-size: 24px;
            line-height: 32px;
        }

        &__desc-small {
            font-size: 15px;
            line-height: 25px;

        }

    }

}

// @media only screen and (max-width:375px) {

//     .collection {
//         padding-bottom: 120px;

//         &__list {
//             flex-direction: column;
//         }

//         &__item {
//             display: block;
//         }

//         &__item + &__item {
//             margin-top: 40px;
//         }

//         &__desc {
//             font-size: 24px;
//             line-height: 32px;
//             text-align: center;
//             color: #333D4B;
//         }

//         &__desc-small {
//             font-size: 15px;
//             line-height: 25px;
//             text-align: center;
//             color: #333D4B;
//         }

//     }

// }