.nation {
    padding-bottom: 168px;
    padding-left: 165px;


    &__desc {
        margin: 0;
        margin-bottom: 72px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        max-width: 285px;
        width: 100%;
    }

    &__item + &__item {
        margin-left: 90px;
    }

    &__img {
        margin-bottom: 46px;
    }

    &__list-desc {
        margin: 0;
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
    }

    &__list-desc-small {
        width: 110px;
        margin: 0;
        line-height: 26px;
        color: #333D4B;
    }
}

@media only screen and (max-width: 1000px) {

    .nation {
        padding-bottom: 144px;
        padding-left: 40px;

    }

}

@media only screen and (max-width: 768px) {

    .nation {
        padding-bottom: 144px;

        &__list-desc {
            margin-bottom: 21px;
            max-width: 223px;
            width: 100%;
            font-size: 24px;
            line-height: 36px;
        }

        &__list-desc-small {
            max-width: 223px;
            width: 100%;
            font-size: 16px;
            line-height: 26px;
        }

    }

}

@media only screen and (max-width: 564px) {

    .nation {
        padding-bottom: 120px;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__list {
            flex-direction: column;
            align-items: center;

            &-desc {
                text-align: center;
            }

            &-desc-small {
                max-width: 327px;
                width: 100%;
            }
        }

        &__item + &__item {
            margin-left: 0px;
            margin-top: 80px;
        }

        &__img {
            margin-left: 80px;
        }

    }

}

@media only screen and (max-width: 375px) {

    .nation {
        padding-bottom: 120px;

        &__item {
            max-width: 327px;
            width: 100%;
        }

    }

}