.works {
    padding-bottom: 200px;

    &__container--color {
        background-color: #293039;
        border-radius: 8px;
        padding: 100px 85px;
    }

    &__img {
        margin-bottom: 67px;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        width: 285px;
        margin-bottom: 64px;
    }

    &__item +  &__item {
        margin-left: 95px;
    }

    &__span {
        display: inline-block;
        margin-bottom: 38px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
    }

    &__desc {
        margin: 0;
        margin-bottom: 42px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
    }

    &__desc--color {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #FEFCF7;
    }

    &__desc-small {
        margin: 0;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }

    &__desc-small--color {
        line-height: 26px;
        color: #FEFCF7;
    }
}

@media only screen and (max-width:768px) {

    .works {
        padding-left: 40px;

        &__desc {
            margin-bottom: 40px;
            font-size: 24px;
            line-height: 32px;
        }

        &__span {
            font-size: 72px;
            margin-bottom: 42px;
            line-height: 72px;
        }

        &__desc-small {
            font-size: 15px;
            line-height: 25px;
        }

        &__item {
            width: 223px;
        }

        &__item +  &__item {
            margin-left: 15px;
        }

    }

}

@media only screen and (max-width:375px) {

    .works {
        padding-bottom: 120px;

        &__desc {
            margin-bottom: 80px;
            text-align: center;
            font-size: 24px;
            line-height: 32px;
        }

        &__img {
            display: none;
        }

        &__list {
            flex-direction: column;
        }

        &__item {
            width: 327px;
        }

        &__span {
            padding-left: 100px;
            margin-bottom: 24px;
            font-size: 72px;
            line-height: 72px;
            text-align: center;
        }

        &__desc-small {
            margin-top: -24px;
            font-size: 15px;
            line-height: 25px;
        }

        &__button {
            margin-left: 500px;
        }

    }

}